<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakonell.findx"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For parse.com data access and google play -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- for google play -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".FindXApp"
        android:icon="@drawable/ic_launcher_findx"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".ChooseStageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="com.oakonell.findx.ChooseStageActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.findx.ChooseStageActivity" />
        </activity>
        <activity
            android:name=".PuzzleActivity"
            android:parentActivityName="com.oakonell.findx.StageActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.findx.StageActivity" />
        </activity>
        <activity
            android:name=".custom.CustomStageActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.oakonell.findx.ChooseStageActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.findx.ChooseStageActivity" />
        </activity>
        <activity
            android:name=".custom.CustomPuzzleBuilderActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.oakonell.findx.custom.CustomStageActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.findx.custom.CustomStageActivity" />
        </activity>
        <activity
            android:name="com.oakonell.findx.custom.parse.CustomLevelSearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.oakonell.findx.custom.CustomStageActivity" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/custom_search" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.findx.custom.CustomStageActivity" />
        </activity>
        <activity android:name="com.oakonell.findx.custom.parse.CustomLevelDetailActivity" >
        </activity>
        <activity android:name=".settings.AboutFindXActivity" >
        </activity>
        <activity
            android:name=".settings.FindXPreferences"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".custom.SharedLevelActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="www.oakonell.com"
                    android:pathPrefix="/findx/share/"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
    </application>

</manifest>